:root {
  --accent: #d8f36a;
  --secondary: #d1b6ff;
  --bright: #ffba8f;
  --paper: #181b36;
  --ink: #f8f8f0;
  --display: "Archivo";
  --body-background: #dddde4;
  --button-background: #172033;
  --button-color: white;
  --tools-color: #172033;
  --sheet-box-shadow: #10172b16;
  --page-foot-border-top: #9298a5;
  --metric-border-right: #ffffff55;
  --chart-img-background: white;
  --th-td-border-bottom: #9298a577;
  --pre-background: #172033;
  --pre-color: #dceef8;
  --notes-background: #f8f8fa;
  --notes-color: #343c4c;
  --dish-border-bottom: #80233830;
  --doc-presentation-metrics-color: #181b36;
  --metric-border-bottom: #ffffff44;
  --body-background-2: white;
  --body-color: #172033;
  --sheet-doc-presentation-sheet-background: white;
  --sheet-doc-presentation-sheet-color: #172033;
  --sheet-doc-presentation-sheet-border-top: #333;
  --h1-doc-presentation-h1-color: #172033;
  --folio-color: #172033;
  --callout-keyword-prose-keyword-tbody-th-doc-presentation-tbody-th-color: #172033;
  --h2-color: #172033;
  --doc-presentation-metrics-doc-presentation-thead-th-background: #393783;
  --doc-presentation-metrics-doc-presentation-thead-th-color: white;
  --doc-presentation-keyword-doc-presentation-callout-strong-doc-presentation-chart-figcaption-color: #393783;
}
