:root {
  --accent: #4a2738;
  --paper: #f7eee2;
  --display: "Libre Baskerville";
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --body-background-2: #231821;
  --body-color-2: #f7eee2;
  --top-footer-border-color: #f7eee250;
  --course-number-color: #d8bba3;
  --columns-border-top: #f7eee250;
  --button-border-color: #f7eee2;
}
