:root {
  --accent: #d97376;
  --paper: #24103d;
  --display: "Libre Baskerville";
  --ink: #f8f2f3;
  --on-accent: #000000;
  --signal: #b52e3e;
  --counter: #297195;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --body-background-2: #231821;
  --body-color-2: #f7eee2;
  --top-footer-border-color: #f7eee250;
  --course-number-color: #d8bba3;
  --columns-border-top: #f7eee250;
  --button-border-color: #f7eee2;
  --course-number-color-2: #ffbd75;
  --vesper-h1-color: #fff5e3;
  --top-footer-columns-border-color: #ab80c5;
}
