:root {
  --accent: #940000;
  --paper: #fcfcf8;
  --display: "Young Serif";
  --ink: #1b1716;
  --on-accent: #ffffff;
  --signal: #dd3208;
  --counter: #0c93aa;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --manuscript-textarea-background: transparent;
  --manuscript-textarea-border-bottom: #553c2e;
  --notes-border-left: #553c2e50;
  --notes-border-left-2: #bf3e08;
  --manuscript-textarea-color: #151515;
  --chapters-border-top: #bf3e08;
}
