:root {
  --accent: #553c2e;
  --paper: #f5f0e5;
  --display: "Young Serif";
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --manuscript-textarea-background: transparent;
  --manuscript-textarea-border-bottom: #553c2e;
  --notes-border-left: #553c2e50;
}
