:root {
  --accent: #003931;
  --paper: #ff3191;
  --display: "Oswald";
  --ink: #19171d;
  --on-accent: #ffffff;
  --signal: #0da293;
  --counter: #921ffd;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --campaign-border-bottom: #171717;
  --campaign-mark-color: #111;
  --thead-background: #172bc9;
}
