:root {
  --accent: #861028;
  --paper: #ffab91;
  --display: "Poppins";
  --body-color: #17212b;
  --feature-color: white;
  --th-td-border-bottom: #8b9299;
  --thead-background: #17212b;
  --thead-color: white;
  --button-color: white;
  --focus-visible-outline: #d84100;
  --body-background: white;
  --feature-background: #9c1632;
  --table-wrap-border: #9c1632;
}
