:root {
  --accent: #004fa0;
  --paper: #f5ff00;
  --display: "Archivo";
  --ink: #181818;
  --on-accent: #ffffff;
  --signal: #0a6ecb;
  --counter: #cd1096;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --task-border-top: #34312b;
  --board-title-h1-color: #111;
  --task-button-background: #4521b8;
  --task-button-color: white;
  --task-button-border-color: #4521b8;
  --stage-color: #4521b8;
}
