:root {
  --accent: #256e00;
  --paper: #c9ff32;
  --display: "Young Serif";
  --ink: #131a17;
  --on-accent: #ffffff;
  --signal: #54a71f;
  --counter: #2cc0eb;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --proposal-aside-background: #112e21;
  --proposal-aside-color: #c9ff32;
  --proposal-border-bottom: #112e21;
}
