:root {
  --accent: #9d2226;
  --paper: #ffe154;
  --display: "Work Sans";
  --body-color: #17212b;
  --feature-color: white;
  --th-td-border-bottom: #8b9299;
  --thead-background: #17212b;
  --thead-color: white;
  --button-color: white;
  --focus-visible-outline: #d84100;
  --body-background: white;
  --input-not-type-checkbox-select-border: #66717a;
  --input-not-type-checkbox-select-background: white;
  --input-not-type-checkbox-select-color: #17212b;
  --button-aria-pressed-false-background: transparent;
  --dish-row-border: #9d2226;
  --dish-row-background: white;
}
