:root {
  --accent: #00534a;
  --paper: #ffffff;
  --display: "Work Sans";
  --body-color: #17212b;
  --feature-color: white;
  --th-td-border-bottom: #8b9299;
  --thead-background: #17212b;
  --thead-color: white;
  --button-color: white;
  --focus-visible-outline: #d84100;
  --body-background: white;
  --input-not-type-checkbox-select-border: #66717a;
  --input-not-type-checkbox-select-background: white;
  --input-not-type-checkbox-select-color: #17212b;
  --button-aria-pressed-false-background: transparent;
  --dayline-background: #00534a;
  --dayline-color: white;
}
