:root {
  --accent: #7b490b;
  --paper: #ffffff;
  --display: "Young Serif";
  --ink: #181818;
  --on-accent: #ffffff;
  --signal: #7b490b;
  --counter: #7e25bb;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --room-border: #3e5132;
  --room-background: #e3e7cd;
  --window-label-border-bottom: #3e5132;
  --room-button-background: #faf7ec;
  --room-button-aria-pressed-true-background: #3e5132;
  --room-button-aria-pressed-true-color: white;
  --room-background-2: #ffffff;
  --room-border-color: #086d3c;
  --room-button-background-2: #ffffff;
  --room-button-color: #086d3c;
  --room-button-border-color: #086d3c;
  --room-button-aria-pressed-true-background-2: #086d3c;
  --reservation-form-background: #ffe0d7;
  --reservation-form-color: #371c12;
  --reservation-form-input-reservation-form-select-background: white;
  --reservation-form-input-reservation-form-select-color: #171717;
  --reservation-form-button-background: #086d3c;
  --reservation-form-button-color: white;
  --window-label-border-color: #086d3c;
}
