:root {
  --accent: #21bb59;
  --paper: #061f27;
  --display: "Office Code Pro";
  --ink: #eff5f7;
  --on-accent: #000000;
  --signal: #38e170;
  --counter: #99bffa;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --flow-background: #0c2632;
  --flow-color: #c4f6f0;
  --flow-button-border: #c4f6f0;
  --flow-button-aria-pressed-true-background: #c4f6f0;
  --flow-button-aria-pressed-true-color: #0c2632;
  --reading-value-color: #0b4659;
  --alert-border-left: #9a3b18;
  --alert-background: #ffe8d4;
  --flow-background-2: #061f27;
  --flow-color-2: #65ffd6;
  --flow-border: #65ffd6;
  --flow-button-color: #65ffd6;
  --flow-button-border-color: #65ffd6;
  --flow-button-aria-pressed-true-background-2: #65ffd6;
  --flow-button-aria-pressed-true-color-2: #061f27;
  --reading-value-color-2: #65ffd6;
  --alert-background-2: #ffb75e;
  --alert-color: #241b08;
  --alert-border-color: #ffb75e;
}
