:root {
  --accent: #0b4659;
  --paper: #e8f4f2;
  --display: "Office Code Pro";
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --flow-background: #0c2632;
  --flow-color: #c4f6f0;
  --flow-button-border: #c4f6f0;
  --flow-button-aria-pressed-true-background: #c4f6f0;
  --flow-button-aria-pressed-true-color: #0c2632;
  --reading-value-color: #0b4659;
  --alert-border-left: #9a3b18;
  --alert-background: #ffe8d4;
}
