:root {
  --accent: #96ac00;
  --paper: #091522;
  --display: "Office Code Pro";
  --ink: #f3f3f4;
  --on-accent: #000000;
  --signal: #b6cf19;
  --counter: #e21267;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --runbook-background: #102d38;
  --runbook-color: white;
  --runbook-aside-color: #a7eff0;
  --runbook-background-2: #19dde7;
  --runbook-color-2: #05212c;
  --runbook-aside-color-2: #05212c;
  --runbook-kicker-runbook-stat-color: #05212c;
  --band-background: #a6002e;
  --figure-color: #bbf7ff;
  --closing-background: #ffd5dd;
  --closing-color: #6b0015;
}
