:root {
  --accent: #853b2c;
  --paper: #f5efe9;
  --display: "Work Sans";
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --portal-border-left: #853b2c;
  --milestones-li-border-top: #853b2c60;
  --milestones-strong-color: #853b2c;
  --current-border-left: #853b2c;
  --decision-panel-background: #fff;
  --decision-panel-border-top: #853b2c;
}
