:root {
  --accent: #215b38;
  --paper: #ffffff;
  --display: "Poppins";
  --body-color: #17212b;
  --feature-color: white;
  --th-td-border-bottom: #8b9299;
  --thead-background: #17212b;
  --thead-color: white;
  --button-color: white;
  --focus-visible-outline: #d84100;
  --body-background: white;
  --input-not-type-checkbox-select-border: #66717a;
  --input-not-type-checkbox-select-background: white;
  --input-not-type-checkbox-select-color: #17212b;
  --button-aria-pressed-false-background: transparent;
  --zones-button-background: white;
  --zones-button-color: #215b38;
  --zones-button-aria-pressed-true-background: #215b38;
  --zones-button-aria-pressed-true-color: white;
}
