:root {
  --accent: #0f4f95;
  --paper: #bcf432;
  --display: "Oswald";
  --ink: #181818;
  --on-accent: #ffffff;
  --signal: #0f4f95;
  --counter: #e797fa;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --menu-controls-border-block: #514017;
  --dish-row-border-bottom: #514017;
  --dish-number-color: #651278;
  --dish-row-h2-menu-head-h1-color: #2c1037;
  --menu-controls-border-color: #2c1037;
  --menu-controls-input-background: #ffffff;
  --menu-controls-input-color: #2c1037;
}
