:root {
  --accent: #fb7c52;
  --paper: #4821ce;
  --display: "Archivo";
  --ink: #f3f4f3;
  --on-accent: #000000;
  --signal: #fb7c52;
  --counter: #22ae99;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --beats-section-nth-child-2-color: white;
  --beats-section-nth-child-2-beat-no-color: white;
  --beat-no-color: #f4ff53;
  --beats-section-nth-child-2-background: #f4ff53;
  --beats-section-nth-child-2-color-2: #251367;
  --beats-section-nth-child-2-beat-no-color-2: #251367;
}
