:root {
  --accent: #532e00;
  --paper: #ff6726;
  --display: "Archivo";
  --ink: #151918;
  --on-accent: #ffffff;
  --signal: #e7a235;
  --counter: #623abc;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --product-border-bottom: #543020;
  --ticket-background: #fffaf1;
  --ticket-border-top: #543020;
  --button-aria-pressed-true-background: #543020;
  --button-aria-pressed-true-color: white;
  --ticket-background-2: #ffffff;
  --ticket-color: #172a72;
  --ticket-border-color: #1640ba;
  --counter-product-button-button-aria-pressed-true-background: #1634a6;
  --counter-product-button-button-aria-pressed-true-color: white;
  --counter-product-button-button-aria-pressed-true-border-color: #1634a6;
  --cafe-h1-color: #111;
  --ticket-button-color: #172a72;
}
