:root {
  --accent: #702659;
  --paper: #fff4fa;
  --display: "Libre Baskerville";
  --body-color: #17212b;
  --feature-color: white;
  --th-td-border-bottom: #8b9299;
  --thead-background: #17212b;
  --thead-color: white;
  --button-color: white;
  --focus-visible-outline: #d84100;
  --body-background: white;
}
