:root {
  --accent: #759cff;
  --paper: #082d26;
  --display: "Libre Baskerville";
  --ink: #f4f4f0;
  --on-accent: #000000;
  --signal: #759cff;
  --counter: #73ba01;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --price-menu-price-color: #e2ff89;
  --h1-color: #e2ff89;
}
