:root {
  --accent: #823b16;
  --paper: #fff6df;
  --display: "Young Serif";
  --body-color: #17212b;
  --feature-color: white;
  --th-td-border-bottom: #8b9299;
  --thead-background: #17212b;
  --thead-color: white;
  --button-color: white;
  --focus-visible-outline: #d84100;
  --body-background: white;
  --feature-background: transparent;
  --feature-color-2: #823b16;
  --thead-background-2: #823b16;
}
