:root {
  --accent: #4d21a3;
  --paper: #f0e8ff;
  --display: "Oswald";
  --body-color: #17212b;
  --feature-color: white;
  --th-td-border-bottom: #8b9299;
  --thead-background: #17212b;
  --thead-color: white;
  --button-color: white;
  --focus-visible-outline: #d84100;
  --body-background: white;
  --input-not-type-checkbox-select-border: #66717a;
  --input-not-type-checkbox-select-background: white;
  --input-not-type-checkbox-select-color: #17212b;
  --button-aria-pressed-false-background: transparent;
  --rack-header-background: #4d21a3;
  --rack-header-color: white;
  --task-background: white;
  --task-border-top: #4d21a3;
}
