:root {
  --accent: #164bb5;
  --paper: #e7efff;
  --display: "Office Code Pro";
  --body-color: #17212b;
  --feature-color: white;
  --th-td-border-bottom: #8b9299;
  --thead-background: #17212b;
  --thead-color: white;
  --button-color: white;
  --focus-visible-outline: #d84100;
  --body-background: white;
  --note-background: white;
  --note-border-top: #164bb5;
  --note-first-child-border-color: #b7192f;
}
