:root {
  --accent: #5d5704;
  --paper: #ffde26;
  --display: "Young Serif";
  --ink: #151a17;
  --on-accent: #ffffff;
  --signal: #5d5704;
  --counter: #f178fe;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --textarea-background: #fff;
  --textarea-background-2: #c6cbbb;
  --notebook-aside-background: #12512f;
  --notebook-aside-color: #ffffff;
  --notebook-textarea-background: #ffffff;
  --notebook-textarea-color: #171717;
  --notebook-h1-color: #12512f;
}
