:root {
  --accent: #98d1cf;
  --paper: #1648e8;
  --display: "Work Sans";
  --ink: #f3f3f4;
  --on-accent: #000000;
  --signal: #1a7170;
  --counter: #c82139;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --clock-border: #173f71;
  --fieldset-border-top: #173f71;
  --clock-background: #c3fcff;
  --clock-color: #082457;
  --clock-border-color: #c3fcff;
  --settings-form-border-top: #c3fcff;
  --fieldset-border-color: #c3fcff;
  --select-background: #ffffff;
  --select-color: #082457;
}
