/* Unmodified bundled fonts; keep accompanying licenses and SOURCE.md. */

@font-face {
  font-family: "Archivo";
  src: url("./Archivo-Italic%5Bwdth%2Cwght%5D.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-stretch: 62% 125%;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("./Archivo%5Bwdth%2Cwght%5D.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 62% 125%;
  font-display: swap;
}
