:root {
  --accent: #005646;
  --paper: #ffffff;
  --display: "Work Sans";
  --ink: #15191b;
  --on-accent: #ffffff;
  --signal: #10ac94;
  --counter: #930542;
  --body-color: #17252b;
  --button-background: transparent;
  --button-hover-background: #ffffff30;
  --input-select-border: #637079;
  --input-select-background: #fff;
  --input-select-color: #17252b;
  --a-focus-visible-button-focus-visible-input-focus-visible-select-focus-visible-tabindex-foc-outline: #ae471d;
  --top-border-bottom: #17252b40;
  --th-td-border-bottom: #17252b40;
  --thead-color: white;
  --footer-border-top: #17252b40;
  --band-color: white;
  --body-background: white;
  --packing-background: #f8d6c4;
  --packing-label-border-bottom: #17252b40;
  --days-section-nth-child-1-background: #1648e8;
  --days-section-nth-child-1-color: white;
  --days-section-nth-child-2-background: #ffdc29;
  --days-section-nth-child-2-color: #171717;
  --days-section-nth-child-3-background: #ff784e;
  --days-section-nth-child-3-color: #171717;
  --packing-background-2: #d3f4ff;
  --packing-color: #082841;
}
