:root {
  --accent: #173d8f;
  --paper: #ade0ff;
  --display: "Work Sans";
  --body-color: #17212b;
  --feature-color: white;
  --th-td-border-bottom: #8b9299;
  --thead-background: #17212b;
  --thead-color: white;
  --button-color: white;
  --focus-visible-outline: #d84100;
  --body-background: white;
  --note-first-child-border: #173d8f;
  --table-wrap-background: white;
  --closing-background: #ffe7c6;
}
